#logo {
    height: 70px;
}

.img-carousel {
    width:100%;
}

.circle-avatar {
    max-width:100%; 
    width:100%; 
    height:auto; 
    display:block;
    
    padding-top:100%;
    border-radius:50%; 
    
    background-position-y:center; 
    background-position-x:center; 
    background-repeat:no-repeat; 
    
    background-size:cover; 
    
    margin:0 auto; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
}

.img-wrapper {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 10em;
}

.card {
    border: 0;
}

.card-header {
    border: 0;
    background-color: inherit;
}

.home-padding {
    padding-top: 5%;
}

.card-header-center {
    background-color: #FFFFFF;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
}

.goods-title {
    height: 1em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goods-cost {
    font-size: 1.5em;
}

.image-slide {
    width:50%;
}

@media (max-width: 992px) {
    .image-slide {
        width:100%;
    }
}