#navbar-first {
    margin-bottom: 0;
}

#logo {
    height: 70px;
}

/* same with main-shadow in theme.css */
#form {
    box-shadow: 3px 3px 5px #C4C4C4;
    width: 100%;
    padding: 5px;   
}

.navbar-form .form-group input {
    width: 100%;
}

.btn-search {
    width:20%;
    background-color:inherit;
    color: white;
}

.circle-avatar {
    max-width:100%;
    width:100%;
    height:auto;
    display:block;
    
    padding-top:100%;
    border-radius:50%;
    
    background-position-y:center;
    background-position-x:center;
    background-repeat:no-repeat;
    
    background-size:cover;
    
    margin:0 auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.second-header {
    padding:10px 15px;
    text-align: center;
    color: #FF9A3B;
}

.navbar-second li a {
    color: white;
}

.img-carousel {
    width:100%;
}

.main-list {
    padding: 20px 30px;
}

.img-wrapper {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
}

.card {
    border: 0;
}

.card-header {
    border: 0;
    background-color: inherit;
}

.home-padding {
    padding-top: 5%;
}

.card-header-center {
    background-color: #FFFFFF;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
}

.image-slide {
    width:50%;
}

.img-icon {
    margin: 0 10px;
    width:15px;
    height:auto;
}

/* md */
@media (max-width: 992px) {
    .image-slide {
        width:100%;
    }
}

/* xs */
@media (max-width: 768px) {
    .main {
        background-color: inherit;
    }
}